<footer>
    <div class="footer container">
        <div class="footerLogo">
            <p style="font-family: 'Frijole', cursive; font-size:30px; color:white; text-align:center">sneakers.ge</p>
        </div>
        <br>
        <div class="footerContent">
            <div class="contactUs">
                <h4>დაგვიკავშირდით:</h4>
                <p><i class="viber icon"></i>+995-599-000-000</p>
                <p><i class="whatsapp icon"></i>+995-599-000-000</p>
                <p><i class="twitter icon"></i>sneakers.ge</p>
                <p><i class="facebook icon"></i>sneakers.ge</p>
            </div>
            <div class="signInUp">
                <a [routerLink]="['/signin/signinuser']" routerLinkActive="router-link-active" >ავტორიზაცია</a>
                <a [routerLink]="['/signin/signupuser']" routerLinkActive="router-link-active">რეგისტრაცია</a>
            </div>
        </div>
        <br>
        <p style="color:rgb(187, 187, 187); text-align:center">Copyright © Sneakers.Ge © 2019 - 2020
        </p>
    </div>
</footer>