<div class="content">
    <div class="menu-container">
  
        <div class="menu2">
            <a class="all" [routerLink]="['/home/all']" routerLinkActive="router-link-active">
                <img width="32px" src="assets/images/all.png" alt="">
                ყველა
            </a>
            <a [routerLink]="['/home/nike']" routerLinkActive="router-link-active">
                <img width="32px" src="assets/images/nike.png" alt="">
                NIKE
                
            </a>
            <a [routerLink]="['/home/adidas']" routerLinkActive="router-link-active">
                <img width="32px" src="assets/images/adidas.png" alt="">
                ADIDAS
               
            </a>
            <a [routerLink]="['/home/rebook']" routerLinkActive="router-link-active">
                <img width="32px" src="assets/images/reebok.png" alt="">
                REEBOK
                
            </a>
            <a [routerLink]="['/home/puma']" routerLinkActive="router-link-active">
                <img width="32px" src="assets/images/puma.png" alt="">
                PUMA
                
            </a>
            <a [routerLink]="['/home/newbalance']" routerLinkActive="router-link-active">
                <img width="32px" src="assets/images/newbalance.png" alt="">
                NEWBALANCE
                
            </a>
        </div>

        <div class="menu2">
            <div class="ui search icon input">
                <input class="prompt" type="text" placeholder="ძებნა..." [formControl]='queryCtrnl'>
                <i class="inverted circular eraser link icon" (click)=cleartext()></i>
            </div>
        </div>
    </div>
</div>
<router-outlet style="background-color: white;"></router-outlet>