.content{
    width: 100%;
    background-color: white;
    .menu-container{
        background-color: white;
        margin-top: 50px;
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: space-between;
        .menu2{        
            margin: 0 auto;
            display:flex;
            align-items: center;
            height: 60px;
            .all{
                font-weight: bolder;
                font-family: "BPG ExtraSquare Mtavruli", sans-serif;
            }
            a{
                color: black;
                font-size: 20px;
                font-family: 'Righteous', cursive;
                padding:0 20px;
                &:hover img{
                    transform: rotate(360deg);
                    transition: 1s;
                }
            }
        }
    }
}

@media only screen and (max-width: 1140px){
    .content{
        .menu-container{
            width: 100%;
            display:block;
            .menu2{
                display: flex;
                justify-content: center;
                width: 90%;
                .input{
                    width: 100%;
                }
            }
        }
    }

}
@media only screen and (max-width: 1021px){
    .content{
        .menu-container{
            .menu2{
                a{
                    text-align: center;

                }

            }
        }
    }
}
@media only screen and (max-width: 860px){
    .content{
        .menu-container{
            margin-top: 20px;
            .menu2{
                display:flex;
                flex-wrap: wrap;
                height: auto;
                a{
                    width: 30%;
                    text-align: left;
                    padding:5px 0;
                }

            }
        }
    }
}
@media only screen and (max-width: 775px){
    .content{
        .menu-container{
            margin-top:0;
            .menu2{
                height:auto;
                
                a{
                    width: 50%;
                    padding:5px 0 5px 60px;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .content{
        .menu-container{

            .menu2{

                
                a{

                    padding:5px 0 5px 40px;
                }
            }
        }
    }
}
@media only screen and (max-width: 465px){
    .content{
        .menu-container{

            .menu2{

                
                a{

                    padding:5px 0 5px 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 376px){
    .content{
        .menu-container{

            .menu2{

                
                a{
                    padding-left: 70px;
                    width: 100%;

                }
            }
        }
    } 
}

