// loader
.loaderbg{
    background-color:white;
    padding:50px 0 300px 0;
    .lds-roller {

        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgb(0, 0, 0);
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    .loadingtext{
        text-align: center;
        font-family: "BPG ExtraSquare Mtavruli", sans-serif;

    }
}
// loader
.bg{
    width: 100%;
    background-color: white;
    .text{
        font-family: "BPG ExtraSquare Mtavruli", sans-serif;
    }
    
        .row{
            
            .item{
                border:solid rgba(151, 151, 151, 0.226) 1px;
                box-shadow: 2px 3px 5px 0 rgb(177, 177, 177);
                padding:10px 5px;
                margin:5px;
                position: relative;
                -webkit-animation-name: animatebottom;
                -webkit-animation-duration: 1s;
                animation-name: animatebottom;
                animation-duration: 1s;
    

                .btns{
                    padding-top: 10px;
                    .buy{
                        background-color: black;
                        padding:5px 10px;
                        color: white;
                        font-family: "BPG No9", sans-serif;
                        font-size: 20px;
                        border:solid 1px rgb(0, 0, 0);
                        &:hover{
                            background-color: white;
                            color:black;
                            border-color: rgba(0, 0, 0, 0.37);
                            transition: 0.5s;
                        } 
                    }
                    .tocart{
                         background-color: rgb(0, 105, 167);
                        padding:5px 10px;
                        font-family: "BPG No9", sans-serif;
                        font-size: 20px;
                        border:solid 1px rgb(0, 105, 167);
                        .icon{
                            text-decoration: none;
                            background-color: rgb(0, 105, 167);
                            color:white;
    
                        }
                        &:hover{
                            background-color: white;
                            transition: 0.5s;
                        }
                        &:hover .icon{
                            background-color: white;
                            color: black;
                            transition: 0.5s;
                        }
                    }
                }
                
              }
              
              @-webkit-keyframes animatebottom {
                from { bottom:-100px; opacity:0 } 
                to { bottom:0px; opacity:1 }
              }
              
              @keyframes animatebottom { 
                from{ bottom:-100px; opacity:0 } 
                to{ bottom:0; opacity:1 }
              }
            }
}

@media only screen and (min-width: 1200px){
    .container{
        background-color: white;
        .row{
          .item{
            .image{
              width: 260px;
            }
          }
        }
    }
}
@media only screen and (max-width: 1200px){
    .row{
        .item{
            width:32%;
            .image{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 992px){
    .row{
        .item{
            width: 48%;
        }
    }
}
@media only screen and (max-width: 500px){
  .row{
    .item{
        width: 98%;
    }
  }
}

      
