.carousel{
    max-width: 1400px;
    margin-left:auto;
    margin-right: auto;
    z-index: 1;
    .carousel-indicators{
        li{
            width: 2vw;
        }
    }
    .carousel-inner{
        .carousel-item{
            .carousel-caption{
                
                .title{
                    width: 55vw;
                    font-size: 2.7vw;
                    padding:1vw 0;
                    background-color: rgba(0, 0, 0, 0.589);
                    font-family: 'Special Elite', cursive;
                }
                .price{
                    width: 20vw;
                    padding:1vw 0;
                    font-size: 2vw;
                    font-family: "BPG No9", sans-serif;
                    background-color: rgba(0, 0, 0, 0.589);
                }
                .buy{
                    font-family: "BPG No9", sans-serif;
                    padding: 2vw;
                    background-color: rgba(0, 0, 0, 0.589);
                    color:white;
                    font-size: 2vw;
                    &:hover{
                        background-color: black;
                        border-radius: 30px;
                        transition: 1s all;
                    }

                }
                
            }
            

        }
    }
}
